@model IEnumerable<Mail_X.Models.Senders>

@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

<link rel="stylesheet" href="/css/Theme.css">

<div>

    @Html.Partial("_DashboardNavBar")

</div>

<div>

    @Html.Partial("_NavBar")

</div>

    <br>
 
  <h2>Team Members</h2>
  <br>   
  
  <table class="text-center w-100">

            <thead class="thead-dark">
                <tr>
                    <th scope="col">Check</th>
                    <th scope="col">Employee</th>
                    <th scope="col">Email</th>
                    <th scope="col">Role</th>
               </tr>
           </thead>

        </table>

  <table class="text-center w-100" id = "myTable">
    
    <tbody >
          @foreach (var item in Model)
                {
                    
                    <tr style = "text-align:center;">
                    <td><input type = "checkbox"></td>
                        <td>@item.EmpName</td>
                        <td>@item.Email</td>
                        <td>@item.DeptName</td>
                    </tr>

                }
      
    </tbody>
  </table>

  <br></br>

  <div>
        @using (@Html.BeginForm("ReturnToHome","Send"))
        {
                                    
           <button class="btn btn-primary float-start" style = "background-color: #73a9ff; border-color:#73a9ff;">Cancel</button>

        }


            <button class="btn btn-primary float-end" style = "background-color: #73a9ff; border-color:#73a9ff;" data-bs-toggle = "modal" data-bs-target="#PasswordModal">Send</button>

  </div>
 

<div class = "modal fade" id="PasswordModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
            <div class = "modal-dialog">
                <div class = "modal-content">
                    <div class = "modal-header">
                        <h5 class = "modal-title" id = "confirmModalLabel">Password</h5>
                    </div>
                    <div class = "modal-body" id = "modal_body">
                        <input type = "password" placeholder = "Enter Email Password" id = "Password">
                    </div>
                    <div class = "modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss = "modal">Cancel</button>
                        <button type="button" class="btn btn-primary"   data-bs-dismiss = "modal" onclick = "ValidatePassword()">Send</button>
                    </div>
                </div>
            </div>
       </div>

<script type = "text/javascript">
    
function SearchTable() {
    var input, filter, found, table, tr, td, i, j;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("myTable");
    tr = table.getElementsByTagName("tr");
    for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td");
        for (j = 0; j < td.length; j++) {
            if (td[j].innerHTML.toUpperCase().indexOf(filter) > -1) {
                found = true;
            }
        }
        if (found) {
            tr[i].style.display = "";
            found = false;
        } else {
            tr[i].style.display = "none";
        }
    }
}

        var password;

        function ValidatePassword(){
        
            var input = document.getElementById("Password").value;
            var Emails = GetEmail();

            var json = JSON.stringify(Emails);

            var FormName = "@ViewBag.FormName";
            var ID = "@ViewBag.FormID";
            var FormID = ID.toString();

            password = input.toString();


            window.location.href = '@Url.Action("Validate", "Send")?password=' + password + '&email=' + json + '&FormName=' + FormName + '&FormID=' + FormID;
        
        }

        function GetEmail(){
        
            var grid = document.getElementById("myTable");
            
            var checkboxes = grid.getElementsByTagName("input");

            var Emails = [];

            for(var i = 0; i < checkboxes.length; i++){
            
                if(checkboxes[i].checked){
                
                    var row = checkboxes[i].parentNode.parentNode;

                    Emails.push(row.cells[2].innerHTML);
                
                }
            
            }

            return Emails;
        
        }
    
</script>