@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/Theme.css">


<div id="mySidenav" class="sidenav text-center" style = "margin-left:-13px;">

  <a onclick="location.href='@Url.Action("ReturnHome", "HomePage")'" id = "link" data-toggle="tooltip" data-placement="top" title="Tasks"><i class='fa fa-tasks'></i></a>
  <a onclick="location.href='@Url.Action("Dashboard", "Dashboard")'" id = "link" data-toggle="tooltip" data-placement="top" title="Dashboard"><i class = "fa fa-dashboard"></i></a>
  <a onclick="location.href='@Url.Action("LogOut", "Login")'" id = "logout" data-toggle="tooltip" data-placement="top" title="Logout"><i class="fa fa-sign-out"></i></a>
  <a onclick="location.href='@Url.Action("AuditPage", "Dashboard")'" id = "link" data-toggle="tooltip" data-placement="top" title="Audit Log"><i class="fa fa-history"></i></a>

    @if (HttpContextAccessor.HttpContext.Session.GetString("DeptID") == "1")
    {
        
        <a onclick="location.href='@Url.Action("ArchivePage", "Dashboard")'" id = "link" data-toggle="tooltip" data-placement="top" title="Archive Log"><i class="fa fa-archive"></i></a>

    }

  
  
</div>