@model Mail_X.Models.MarkAsDoneDetails

<link rel="stylesheet" href="/css/Theme.css">

<body>

<div class = "col text-center p-2">


            <img src="~/img/MAIL_X_LOGO.png" class = "img-fluid" style = "width:200px; height:120px; position:absolute; margin-left:-85px;">


</div>

<br></br>
<br></br>


<div class = "d-flex align-items-center justify-content-center mt-5">

    <div class="card text-center w-50 mt-2" style = "background-color : whitesmoke">
        <div class="card-body">
             <h2 class="card-title p-2">Mark As Done</h2>
             <p class="card-text mb-5">Please Enter your Credentials</p>

            @using (@Html.BeginForm("ValidateDetailsDevOps","MarkAsDone", new {Model, ID = @ViewBag.ID })){

                 @Html.AntiForgeryToken()

                 @Html.ValidationSummary(true, "", new{@class = "text-danger"})

                <p class = "my-5">
                   @Html.TextBoxFor(Model => Model.DevOpsID, new{ @class = "form-control", @placeholder = "DevOps ID"})
                   @Html.ValidationMessageFor(Model => Model.DevOpsID, "", new {@class = "text-danger"})
                </p>
                
    
                <p class = "my-5">
                    @Html.TextBoxFor(Model => Model.Password, new{ @class = "form-control my-2", @placeholder = "Password", @type = "Password"})
                    @Html.ValidationMessageFor(Model => Model.Password, "", new {@class = "text-danger"})
                </p>
                

                <button class="btn btn-primary mt-3 float-end" style = "background-color: #73a9ff; border-color:#73a9ff;">Submit</button>

                
                  
             
             }

             <div class = "float-start">

                    @using (@Html.BeginForm("ReturnToHome","Send"))
        {
                                    
            <button class="btn btn-primary float-start" style = "background-color: #73a9ff; border-color:#73a9ff;">Back</button>

        }

                </div>


             @Html.ValidationSummary(true)

            @if(ViewBag.Message != null){
                
                <script>

                    alert("@ViewBag.Message");

                </script>

            } 

             
             <br>


        </div>
    </div>

</div>

</body>




