@model Mail_X.Models.Login

<link rel="stylesheet" href="/css/Theme.css">


<div class = "col text-center p-2">


            <img src="~/img/MAIL_X_LOGO.png" class = "img-fluid" style = "width:200px; height:120px; position:absolute; margin-left:-85px;">


</div>

<br></br>
<br></br>



<div class = "d-flex align-items-center justify-content-center mt-5">

    <div class="card text-center mt-2" style = "background-color : #ffffff; width:500px; height:330px;">
        <div class="card-body">
             <h5 class="card-title p-2">Welcome</h5>
             <p class="card-text mb-3">Please log in to your account</p>

             @using (@Html.BeginForm("Validate","Login",Model)){

                 @Html.AntiForgeryToken()

                 @Html.ValidationSummary(true, "", new{@class = "text-danger"})

                <p>
                   @Html.TextBoxFor(Model => Model.EmpID, new{ @class = "form-control", @placeholder = "Employee ID"})
                   @Html.ValidationMessageFor(Model => Model.EmpID, "", new {@class = "text-danger"})
                </p>
                
    
                <p class = "my-2">
                    @Html.TextBoxFor(Model => Model.Password, new{ @class = "form-control my-2", @placeholder = "Password", @type = "Password"})
                    @Html.ValidationMessageFor(Model => Model.Password, "", new {@class = "text-danger"})
                </p>
                

                <button class="btn btn-primary mt-3">Login</button>
                <br>

                <div class = "pt-4 pr-4 pb-4 pl-2 float-start">

                 <input type = "checkbox" style = "width:12px; height:12px;"> Remember Me

             </div>

             <div class = "pt-4 pr-2 pb-4 pl-4 float-end">

                 <a asp-area="" asp-controller = "Home" asp-action = "Index">Forgot Password?</a>

             </div>

                  
             
             }


             @Html.ValidationSummary(true)

            @if(ViewBag.Message != null){
                
                <script>

                    alert("@ViewBag.Message");

                </script>

            } 

             
             <br>
             


        </div>
    </div>

</div>






