@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@model IEnumerable<Mail_X.Models.HomePage>


<div class = "d-flex align-items-start justify-content-start m-0">

    <img src="~/img/Bet_Logo.jpg" class = "img-fluid" style = "width:170px; height:75px; position:absolute; left:0;">

</div>

<div class = "p-1 text-center" style = "position:absolute; top:20px; right:20px;">

    <img src="https://mdbcdn.b-cdn.net/img/new/avatars/8.webp" class="rounded-circle mb-3" style="width: 50px;"
    alt="Avatar" />

    <h5 class="mb-2"><strong>@HttpContextAccessor.HttpContext.Session.GetString("Username")</strong></h5>

</div>

<br></br>
<br></br>
<br></br>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/Theme.css">

<body >


    <div class = "d-flex align-items-center justify-content-center mt-5">

         <input type="text" class="form-control my-2 w-85" placeholder = "Search..." name="EmpID" id = "myInput" onkeyup = "myFunction()" style = "background-color:#f5f6fa;">
         <label class = "px-3" style = "width:120px; font-weight:bold;">Filter By:</label>
         <select id = "filter type" style = "background-color:#f5f6fa; height:30px; color:#bbbfcd; border-radius:3px;">
             <option>Form ID</option>
             <option>Form Name</option>
             <option>Date Created</option>
             <option>Status</option>
         </select>

    </div>

    

    <div class = "mt-4" >

        <table class="text-center w-100" id = "myTable" >
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Form ID</th>
                    <th scope="col">Form Name</th>
                    <th scope="col">Date Created</th>
                    <th scope="col">Status</th>
                    <th scope="col">Properties</th>
               </tr>
           </thead>
            <tbody>
               
                @foreach (var item in Model)
                {
                    
                    <tr>
                        <td>@item.FormID</td>
                        <td>@item.FormName</td>
                        <td>@item.FDate</td>
                        <td>@item.Status</td>
                        <td>

                            <div style = "display:flex;">

                            <div style = "flex:1;">

                                @using (@Html.BeginForm("ViewDoc","HomePage", new {id = @item.FormID}))
                                {
                                    
                                    <button type = "submit" class = "fa fa-eye" style = "border:0;"></button>

                                }

                            </div>

                            <div style = "flex:1;">

                                @using (@Html.BeginForm("Send","HomePage", new { ID= @item.FormID, FormName = @item.FormName}))
                                {
                                    
                                    <button type = "submit" class = "fa fa-paper-plane" style = "border:0;"></button>

                                }

                                @using (@Html.BeginForm("SignOff","HomePage", new { id = @item.FormID}))
                                {
                                    
                                    <button type = "submit" class = "fa fa-pencil" style = "border:0;"></button>

                                }

                            </div>

                            </div>
                                
                            
                        </td>
                    </tr>

                }

            </tbody>
</table>

    </div>

    <h1>this will be the home page..... (under construction)</h1>




</body>

<script>
    
  function myFunction() {

    var input, filter, table, tr, td, i, txtValue, index;
    index = document.getElementById("filter type").selectedIndex;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("myTable");
    tr = table.getElementsByTagName("tr");
    for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[index];
        if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
        } else {
            tr[i].style.display = "none";
        }
        }       
    }
}
    
</script>

@if(TempData["Message"] != null){
                
                <script>

                    alert("@TempData["Message"]");

                </script>

            } 