@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@model IEnumerable<Mail_X.Models.HomePage>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/Theme.css">

<div>

    @Html.Partial("_NavBar")

</div>


<body >

    

    <div class = "mt-4" >

        <table class="text-center w-100">

            <thead class="thead-dark">
                <tr>
                    <th scope="col" style = "display:none;">Deploy ID</th>
                    <th scope="col" style = "border-top-left-radius:10px; border-bottom-left-radius:10px;">Project ID</th>
                    <th scope="col">Deploy Name</th>
                    <th scope="col">Project Name</th>
                    <th scope="col">Date Created</th>
                    <th scope="col">Status</th>
                    <th scope="col">Properties</th>
               </tr>
           </thead>

        </table>

        <table class="text-center w-100" id = "myTable" >
            
            <tbody>
               
                @foreach (var item in Model)
                {
                    
                    <tr>
                        <td style = "display:none;">@item.FormID.ToString()</td>
                        <td style = "border-top-left-radius:10px; border-bottom-left-radius:10px;">@item.PID</td>
                        <td>@item.FormName</td>
                        <td>@item.PName</td>
                        <td>@item.FDate.ToString("dd/MM/yyyy")</td>
                        <td>@item.Status</td>
                        <td>

                            <div style = "display:flex;">

                            <div style = "flex:1;">

                                @using (@Html.BeginForm("ViewDoc","HomePage", new {id = @item.FormID}))
                                {
                                    
                                    <button type = "submit" class = "fa fa-eye" style = "border:0;background-color:#ffffff; color:#0D6EFD;"></button>

                                }

                            </div>

                            <div style = "flex:1;">

                                @using (@Html.BeginForm("SignOff","HomePage", new { id = @item.FormID}))
                                {
                                    
                                    <button type = "submit" class = "fa fa-pencil" style = "border:0;background-color:#ffffff;"></button>

                                }
                            </div>

                            <div style = "flex:1;">

                                @using (@Html.BeginForm("Send","HomePage", new { ID= @item.FormID, FormName = @item.FormName}))
                                {
                                    
                                    <button type = "submit" class = "fa fa-paper-plane" style = "border:0; background-color:#ffffff;color:#82954B;"></button>

                                }

                                </div>


                            </div>
                                
                            
                        </td>
                    </tr>

                }

            </tbody>
</table>

    </div>

    @*<h1>this will be the home page..... (under construction)</h1>*@




</body>

     <script>

    var th = document.getElementsByTagName('th');
    var asc = true;

    for(let col = 0; col < th.length; col++){
    
        th[col].addEventListener('click',item(col));
        
    
    }

    function item(col){
    
        return function(){
        
            asc = !asc;
            console.log(col + " " +asc);
            sortTable(col,asc);
        
        }
    
    }

    function sortTable(col,asc) {
  var table, rows, switching, i, x, y, shouldSwitch;
  table = document.getElementById("myTable");
  switching = true;

  while (switching) {

    switching = false;
    rows = table.rows;

    for (i = 0; i < (rows.length - 1); i++) {

      shouldSwitch = false;

      x = rows[i].getElementsByTagName("TD")[col];
      y = rows[i + 1].getElementsByTagName("TD")[col];

      if(asc == true){

          if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {

        shouldSwitch = true;
        break;

      }
      }else if(asc == false){
      
      if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {

        shouldSwitch = true;
        break;
      }
      
      }
      }

    
    if (shouldSwitch) {

      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
    }
  }
}

</script>
    

@if(TempData["Message"] != null){
                
                <script>

                    alert("@TempData["Message"]");

                </script>

            } 