

@model Mail_X.Models.FormDetails

<body>

    <link rel="stylesheet" href="/css/Theme.css">

<div class = "col-5 float-end">

        
        <h2 style = "margin-top:45px;">Software Release To Deployment</h2>

    </div>

    
    <div class = "d-flex align-items-start justify-content-start mt-2 col-2">

    <img src="~/img/MAIL_X_LOGO.png" class = "img-fluid" style = "width:170px; height:90px; margin-left:-15px">

    </div>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
@using(@Html.BeginForm("AddForm","Form", new{FD = Model}))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new{@class = "text-danger"})

    <div class = " mt-5 col">

        <div>

            <label>Project ID:</label>
            @Html.TextBoxFor(Model => Model.ProjectID, new {@class = "w-25", @style = "margin-left:132px;", @id = "Finput"})
            @Html.ValidationMessageFor(Model => Model.ProjectID, "", new {@class = "text-danger"})

        </div>

        <br>

        <div>

            <label>Project Name:</label>
            @Html.TextBoxFor(Model => Model.ProjectName, new {@class = "w-25", @style = "margin-left:105px;", @id = "Finput"})
            @Html.ValidationMessageFor(Model => Model.ProjectName, "", new {@class = "text-danger"})

        </div>

        <br>

        <div>

            <label>Deploy Start Date:</label>
            @Html.TextBoxFor(Model => Model.StartDate, new {@type = "datetime-local", @class = "w-25", style = "margin-left:78px; height:30px;", @id = "Finput"})
            @Html.ValidationMessageFor(Model => Model.StartDate, "", new {@class = "text-danger"})

        </div>

        <br>

        <div>

            <label>Deploy End Date:</label>
            @Html.TextBoxFor(Model => Model.EndDate, new {@type = "datetime-local", @class = "w-25", style = "margin-left:83px; height:30px;", @id = "Finput"})
            @Html.ValidationMessageFor(Model => Model.EndDate, "", new {@class = "text-danger"})

        </div>

        <br>

        <div>

            <label>Application Name:</label>
            @Html.TextBoxFor(Model => Model.AppName, new {@class = "w-25", @style = "margin-left:78px;", @id = "Finput"})
            @Html.ValidationMessageFor(Model => Model.AppName, "", new {@class = "text-danger"})

        </div>

        <div class = "pt-4">

            <label>Environment:</label>
            @Html.DropDownListFor(Model => Model.Environment, new SelectList(@ViewBag.list), new {@class = "w-25", @style = "margin-left:112px; height:30px;", @id = "Finput"})

        </div>

        <br>

        <div>

            <label>DNS Name:</label>
            @Html.TextBoxFor(Model => Model.ServerName, new {@class = "w-25", @style = "margin-left:118px;", @id = "Finput"})
            @Html.ValidationMessageFor(Model => Model.ServerName, "", new {@class = "text-danger"})

        </div>

        <br></br>

  <br>

        <div>

            <label>Pull Request:</label> 


        </div>

        <div>

           @Html.TextAreaFor(Model => Model.PullRequests, new{@class = "w-100", rows = "5", col = "80", @id = "Finput"})
           @Html.ValidationMessageFor(Model => Model.PullRequests, "", new {@class = "text-danger"})


        </div>

        <br>

        <div class = "pt-3">

            <label>Deployment Instructions:</label>
            

        </div>


    </div>

     <div class = "pt-1">

           @Html.TextAreaFor(Model => Model.AdditionalNotes, new{@class = "w-100", rows = "7", col = "80", @id = "Finput"})
           @Html.ValidationMessageFor(Model => Model.AdditionalNotes, "", new {@class = "text-danger"})

     </div>


     <br>

            <div>

                <label>Developer's Comments:</label>
                @Html.TextAreaFor(Model => Model.Comments, new{@class = "w-100", rows = "4", col = "50", @id = "Finput"})
                @Html.ValidationMessageFor(Model => Model.Comments, "", new {@class = "text-danger"})

            </div>

     <br>

     <button class = "btn btn-primary float-end" style = "background-color: #73a9ff; border-color:#73a9ff;">Create Form</button>
    
}    

@using (@Html.BeginForm("ReturnToHome","Send"))
        {
                                    
            <button class="btn btn-primary float-end mx-2" style = "background-color: #73a9ff; border-color:#73a9ff;">Back</button>

        }

</body>

@Html.ValidationSummary(true)

@if(ViewBag.Message != null){
                
                <script>

                    alert("@ViewBag.Message");

                </script>

} 